:root{
    --candyColor: #dddddd;
    --headerColor: #333333;
    --headerTextShadowOverColor: #555555;
    --headerTextShadowUnderColor: #111111;
    --headerFontColor: #dddddd;
    --fontColor: #dddddd;
    --bodyColor: #777777;
    --borderColor: #555555;
    --toolBarColor: #333333;
    --toolBarBorderColor: #555555;
    --buttonColor: #333333;
    --buttonBorderColor: #555555;
    --mainColor: #dddddd;
    --tronBlue: #18CAE6;
    --modalColor: #444444;
}
@font-face{
    font-family: Tron;
    src: url("Fonts/Tr2n.ttf");
    font-weight: normal;
    font-style: normal;
}
html{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}
.no-cursor{
    cursor: none;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--bodyColor);
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--headerColor);
    border-bottom: 2px outset var(--borderColor);
}
header .page-title{
    font-family: 'Major Mono Display', monospace;
    color: var(--headerColor);
    text-shadow: 1px 1px 2px var(--headerTextShadowUnderColor), 1px -1px 2px var(--headerTextShadowOverColor), -1px 1px 2px var(--headerTextShadowUnderColor), -1px -1px 2px var(--headerTextShadowOverColor);
    margin: 0;
    font-size: 3rem;
}
.button-active{
    border: 2px inset var(--buttonBorderColor);
}
.pill{
    height: 50px;
    width: 50px;
}
.pill > img{
    height: 50px;
    width: 50px;
}
main{
    position: relative;
    display: inline-flex;
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3vh;
    /* For Modal */
    overflow: hidden;
    width: 100%;
}
.main-button-container button{
    display: inline;
    background: var(--buttonColor);
    border: 2px outset var(--buttonBorderColor);
    outline: none;
    font-family: "Major Mono Display", monospace;
    color: var(--fontColor);
}
.main-content-container{
    display: inline-block;
}
.coloring-table{
    border: 1px solid var(--toolBarBorderColor);
    display: inline-table;
    height: 100%;
}
.coloring-table-body{
    width: 100%;
    height: 100%;
}
.aside-container{
    flex-grow: 0.5;
}
.modal-container{
    display: inline-block;
    height: 100%;
    width: 100%;
}
/* Commented out pending necessity */
/* .modal{
    display: none;
    position: fixed;
    z-index: 11;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    background-color: #00000060;
} */
.modal-content{
    display: block;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: var(--modalColor);
    border: 2px outset var(--borderColor);
    width: 100%;
    height: 100%;
    animation: fade-in;
    animation-duration: 0.5s;
}
.modal-h1{
    margin: 0;
    display: block;
    font-family: "Major Mono Display", monospace;
    color: var(--headerFontColor);
}
#color-modal-close{
    float: right;
    font-size: 2rem;
    cursor: pointer;
}
.modal-content form input{
    margin: 5px;
    width: 80px;
    height: 70px;
}
.modal-content form input[type="submit"]{
    border: none;
    width: 80px;
    height: 40px;
}
.modal-body{
    width: 100%;
}
#color-modal-table{
    width: 100%;
}
.color-input{
    height: 20px;
    width: 100%;
    border: 2px outset var(--borderColor);
}
.paint-bubble{
    display: none;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.tool-box{
    display: inline-flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--toolBarColor);
    border-top: 2px outset var(--toolBarBorderColor);
    border-bottom: 2px outset var(--toolBarBorderColor); 
}
.tool-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tool{
    margin: 0;
    padding: 10px;
}
.custom-cursor-button{
    border: 1px outset var(--toolBarBorderColor);
    width: 64px;
    height: 83px;
    padding: 10px;
}
.tool .custom-cursor-img:active{
    border: 1px inset var(--toolBarBorderColor);
}
.custom-cursor-img{
    height: 83px;
    width: 64px;
}
.big-hand-pointer-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
.custom-cursor-big-hand-pointer{
    cursor: url("Large-Hand-Pointer-Resized.png") 20 1, auto;
}
.custom-cursor-paint-brush{
    cursor: url("Paint-Brush-Cursor-BW-With-Outline-Resized.png") 0 0, auto;
}
.custom-cursor-large-cursor{
    cursor: url("Large-Pointer.png") 0 0, auto;
}
.drag-location{
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    border: 1px solid black;
}
.drag-block{
    position: absolute;
    z-index: 10;
    height: 9.5vh;
    width:  9.5vh;
    background-color: #333333;
    border-radius: 7px;
}
.jar-container{
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 15rem;
    width: 10rem;
    fill: white;
}
.jar-ul{
    /* display: inline-flex;
    flex-direction: column; */
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.jar-li{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border: none;
    margin: 0;
}
@keyframes fade-in{
    from{
        right: -150%;
        opacity: 0;
    }
    to{
        right: 0;
        opacity: 1;
    }
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
}