:root{
    --candyColor: #dddddd;
    --fontColor: #111111;
    --bodyColor: #777777;
    --mainColor: #333333;
    --tronBlue: #18CAE6;
    --modalColor: #444444;
}
@font-face{
    font-family: Tron;
    src: url("Fonts/Tr2n.ttf");
    font-weight: normal;
    font-style: normal;
}
html{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
}
.no-cursor{
    cursor: none;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--bodyColor);
}
header{
    width: 100%;
    height: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header .page-title{
    font-family: "Tron", sans-serif;
    color: var(--fontColor);
    margin: 0;
}
.modal{
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
    background-color: #00000060;
}
.modal-content{
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background-color: var(--modalColor);
    margin: 15% auto;
    border: 2px solid var(--bodyColor);
    width: 40%;
    height: 40%;
    animation: fade-in;
    animation-duration: 0.4s;
}
.modal-h1{
    margin: 0;
    display: block;
}
#color-modal-close{
    float: right;
    font-size: 2rem;
    cursor: pointer;
}
.modal-content form input{
    margin: 5px;
    width: 80px;
    height: 70px;
}
.modal-content form input[type="color"]{
    border: none;
}
#add-pill-button{
    position: absolute;
    bottom: 2%;
    right: 15%;
    /* background: none;
    border: none;
    outline: none; */
    cursor: pointer;
}
.pill{
    height: 50px;
    width: 50px;
}
.pill > img{
    height: 50px;
    width: 50px;
}
main{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.main-content-container{
    display: inline-grid;
    grid-template:
    ". . . . . . . . . . . . . . . ." auto
    ". . . . . . . . . . . . . . . ." auto
    ". . . . . . . . . . . . . . . ." auto
    ". . . . . . . . . . . . . . . ." auto
    ". . . . . . . . . . . . . . . ." auto
    ". . . . . . . . . . . . . . . ." auto
    ". . . . . . . . . . . . . . . ." auto
    ". . . . . . . . . . . . . . . ." auto
    / 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw 2vw;
    height: 100%;
}
.tool-box{
    display: inline-block;
    width: 20vw;
    border: 2px solid var(--mainColor);
}
.tool-list{
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tool{
    margin: 0;
}
#big-hand-pointer-button{
    width: 64px;
    height: 83px;
    border: 1px solid var(--mainColor);
}
#big-hand-pointer-png{
    height: 100%;
    width:100%;
}
.big-hand-pointer-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}
.custom-cursor-big-hand-pointer{
    cursor: url("Large-Hand-Pointer-Resized.png") 20 1, auto;
}
.drag-location{
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2vw;
    width: 2vw;
    border: 1px solid black;
}
.drag-block{
    position: absolute;
    z-index: 10;
    height: 9.5vh;
    width:  9.5vh;
    background-color: #333333;
    border-radius: 7px;
}
.jar-container{
    position: absolute;
    bottom: 10px;
    right: 0;
    height: 15rem;
    width: 10rem;
    fill: white;
}
.jar-ul{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70%;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.jar-li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    border: none;
}
@keyframes fade-in{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}